apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: application-sample-other-4
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: sample-component-two
    app.kubernetes.io/part-of: application-sample-4
  name: application-sample-other-4
  namespace: application-service-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: application-sample-other-4
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: application-sample-other-4
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload:application-service-system-application-sample-other-4
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8081
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8081
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8081
        resources: {}
status: {}
